body{
    color: black;
    font-family: Verdana, sans-serif;
    background-color: #dedede;
}

h2.h2dot {
    border-bottom: 3px dotted maroon;
}

h1{
    border-bottom: 3px dotted maroon;
    text-align: center;
    border-bottom: 5px solid maroon;
}

p#links{
    border: 3px solid maroon;
    padding: 25px;
    margin: 100px;

}