body{
    color: black;
    font-family: Verdana, sans-serif;
    background-color: #dedede;
}

h2.h2dot {
    border-bottom: 3px dotted maroon;
}

h1{
  text-align: center;
  border-bottom: 5px solid maroon;
}

/*Start creating menubar element*/
ul#menubar{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  
}

ul#menubar > li {
    float: left; 
  }

ul#menubar > li > a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
ul#menubar > li > a:hover {
  background-color: white;
  }

li.active {
  background-color: gray;
}

/*End creating menubar element*/
  
div#main{
  width: 500px;
  border-radius: 10px;
  margin: 25px;
  border: 3px solid maroon;
  text-align: center;
}

div#links{
  border-radius: 10px;
  border: 3px solid maroon;
  padding: 25px;
  margin: 100px;
}

.container {
  height: 450px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}